[Unit]
Description=Greengrass Core
ConditionFileIsExecutable=/perm/greengrass/v2/alts/current/distro/bin/loader

[Service]
Type=simple
PIDFile=/perm/greengrass/v2/alts/loader.pid
RemainAfterExit=no
Restart=on-failure
RestartSec=10
ExecStart=/bin/sh /perm/greengrass/v2/alts/current/distro/bin/loader

[Install]
WantedBy=multi-user.target
